@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #d0bdf4;
  font-family: 'Fredericka the Great', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  color: #4a4d60;
  margin-bottom: 100px;
}

.container {
  display: flex;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px #4a4d60;
  background: #a0d2eb;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}

.hold {
  border: solid 5px #ccc;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
